<html>
	<head>
		<title>ONLINE VOTING</title>
		<link 	rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link 	rel="stylesheet" type="text/css"  href="/stylesheets/app.css">
		<h1 class="ui center aligned icon header">
  			<strong>WELCOME</strong><i class="red users icon"></i> TO THE VOTING PORTAL
		</h1>
	</head>
	<body>
			<%candidates.forEach(function(candidate){%>
			<div class="ui main text container segment">
				<div class = "ui top attached segment" >
		    		<div class = "item">
						<div class="content">
							<h3><%=candidate.cname%></h3>
						</div>
						<img class = "ui centered rounded image" width="300" height="181" src= "<%= candidate.cimage %>">
						<div class="content">
							<%=candidate.cparty%>
							<span></span>
						</div>
						<div class = "description">
							<p>
								<%- candidate.cinfo %>
							</p>
						</div>
						<a class="ui positive basic button" href="/candidate/<%=candidate._id%>">VOTE</a>
					</div>
				</div>
			</div>	
			<%});%>
	</body>
</html>